* {
	margin: 0;
  padding:0;

}

body {
	background-color: #EDE6E4;
}

.header {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 40pt;
}

.subline {
	display: block;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	padding-top: 10px;
	font-weight: lighter;
	text-align: center;
}

.prompt {
	display: block;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	padding-top: 50px;

}


.btn {
	margin: 0 20px 0 20px;
	font-family: 'Work Sans', sans-serif;
	background-color: #EDE6E4;
	padding: 20px;
}

.btn-strongly-agree {
	color: #262626;
	font-weight: bold;
}


.btn-strongly-agree.active,
.btn-strongly-agree:active,
.btn-strongly-agree:focus,
.btn-strongly-agree:active:focus,
.btn-strongly-agree.active:focus,
.btn-strongly-agree:hover
 {
	background-color: #89d298;
}

.btn-agree {
	color: #262626;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: rgba(137, 210, 152, 0.5);
}

.btn-disagree {
	color: #262626;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: rgba(226, 129, 129, 0.5);
}

.btn-strongly-disagree {
	color: #262626;
	font-weight: bold;
}

.btn-strongly-disagree.active,
.btn-strongly-disagree:active,
.btn-strongly-disagree:focus,
.btn-strongly-disagree:active:focus,
.btn-strongly-disagree.active:focus,
.btn-strongly-disagree:hover {
	background-color: #e28181;
}

.bottom {
	margin-bottom: 100px;
}

.hide {
	display: none;
}

.list-group-item {
	background-color: #EDE6E4;
	border-color: none;
}

.list-group-item.prompt {
	border-color: #EDE6E4;

}

.show {
	display: block;
}

#submit-btn {
	border-radius: 3%;
	border-color: #262626;
	border-width: 1.5pt;
	color: #EDE6E4;
	margin-top: 70px;
	font-family: 'Work Sans', sans-serif;
	font-weight: lighter;
	font-size: 18pt;
	width: 200px;
	padding: 10px;
	background-color: #262626;
}

#submit-btn:hover {
	background-color: #EDE6E4;
	color: #262626;
}


/* RESULTS */
.results {
	margin-bottom: 40px;
	margin-top: 40px;
}
