body {
  background-image: url("plantbackfilter.jpg");
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;

}



.welcomeFormat{
  text-align: left;
  margin-left: 200px;
  margin-top: 125px;

}


.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 40pt;
}

.welcome{
  color: white;
  margin-bottom: -10px;

}

.jungle {
font-size: 115pt;
color: white;
margin-top: -20px;
font-weight: 900;


}

.guide {
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 30pt;
  font-weight: 300;
  margin-bottom: 80px;
}

/* .ghostButton {
  background-color: none;
  border: 3px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
} */

a.btn,.btn {
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);

  border-radius: 3px;

  font-size: 16pt;
	padding: 0.5625em 1.5em;

  color: white;
	border-color: white;
  margin-top: 60px;

}

.btn:hover {
  background: white;
  color: black;
  border-color: white;
}
